<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center mt-5 pt-4">
            <h1 class="display-4">404 Page Not Found</h1>
            <p class="lead my-2">Halaman tidak tersedia!</p>
            <a href="/" class="btn btn-danger">Back to Home</a>
        </div>
    </div>
</div>